
<body>
	<header class="navigation">
		<h1 class="logo">Bitácora de viajes</h1>
		<nav>
			<ul class= "nav-bar">
				<li>Inicio</li>
				<li>Crea tu Bitácora</li>
				<% if user_signed_in? %>
				<li><%= link_to 'Salir', destroy_user_session_path, method: :delete	%></li>
				<% else %>
				<li><%= link_to 'Regístrate', new_user_registration_path %></li>
				<li><%= link_to 'Identificate', new_user_session_path %></li>
				<% end %>

				
			  	
			</ul>
		</nav>
	</header>

	<section class="background">
	</section>

	<section class="info">
		<article class="gif"></article>
		<article class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, libero quae nulla. Autem blanditiis v</article>
	</section>

	<section class="tutorial">
		<article class="item">
			<div class="circulo"></div>
			<div>
				<h4>TITULO</h4>
				<p>Lorem ipsum....</p>
			</div>
		</article>
	</section>

</body>
</html>

