
.navigation{
	width: 100%;
	position: fixed;
	height: 70px;
	top: 0;
	z-index: 2;
	background-color: black;
	color: white;
}
 
.white-clr {
	color:white;
	font-size: 2em;

}

.logo {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
	text-align: left;
	width: 25%;
	float: left;
	margin-left: 30px;	
}
.nav-bar {
	margin-top:20px;
	font-family: 'Gloria Hallelujah', cursive;
	min-height: 20px;
	min-width: 10px;
	float: right;
	color:white;
}
.nav-bar>li{
	display: inline;
	padding-right: 30px;
}

.background {
	background-image: url("bitacora10.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 680px;
	color: black;
	text-align: center;
	font-family: 'Indie Flower', cursive;

}

.background>h2 {
	font-family: 'Indie Flower', cursive;
	padding-top: 150px;
	margin-left: 400px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.bkg-container{
	margin: auto;
}
.bkg-container>h3{
	font-size: 2em;
}

.info{
	width: 100%;
	height: 400px;
	padding-top: 100px;
} 
.gif{
	width: 250px;
	height: 230px;
	margin-left: 200px;
	float: left;
	background-image: url("gif.gif");
	background-repeat: no-repeat;
}

.texto{
	width: 500px;
	height: 50px;
	margin-right: 300px;
	margin-top: 10px;
	float: right;
	font-family: 'Coming Soon', cursive;
	color: black;
	font-family: 'Neuton', serif;
	font-size: 30px;
}

a {
 	text-decoration: none; 
 	position: relative; 
 	color:black;
 }
 a span { 
 	text-decoration: none; 
 	width: 200px; 
 	height: auto; 
 	line-height: 30px; 
 	padding: 10px; 
 	font-size: 24px; 
 	color: #719DAB; 
 	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
 	text-align: center; 
 	border: 4px solid #fff; 
 	background: rgba(255,255,255,0.9); 
 	border-radius: 5px; 
 	pointer-events: none; 
 	position: absolute; 
 	left: 0; 
 	bottom: 200px; 
 	opacity: 0; 
 	box-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
 	-webkit-transition: all 0.3s ease-in-out; 
 }
 a:hover span { 
 	opacity: 0.9; 
 	left: 50%; 
 	bottom: 10px; 
 	color: white; 
 	background-color: black;
 }
   
 .city {
 	float: left;
 	
 }
 

  .city {
  	
	
	height: 153px;
	background-repeat: no-repeat;
	background-image: url("city3.jpg");
	float: left;
	padding: 0;
	
	/*border: 1px inset black;*/
  }

  div.info1 {
  	width: 100%;
	height: 153px;
	background-color: rgba(31, 31, 31, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.2s ;
	position:absolute;
	overflow: hidden;
	padding-top: 20px;
 }

  div.city:hover div.info1 {
  	opacity: 1;
  }

p#headline1 {
	-webkit-transition: margin 0.2s;
	font-size: 90px;
	color: white;
	font-family: 'Amatic SC', cursive;
}

 div.city:hover p#headline1 {
 	margin-left: 220px;
 }


 .info2 {
 	float:right;
 	
 }


.title1 {	
	font-family: 'Handlee', cursive;;
	float: right;
	
}


.title2 {
	float:left;
	width: 70%;
	font-family: 'Handlee', cursive;
	
}

.title1>h4{
	font-size: 2em;
	text-decoration: underline;
}

.title2>h4{
	font-size: 2em;
	text-decoration: underline;
}

.calendar{
  	/*margin-left: 980px;*/
	width: 20%;
	height: 190px;
	background-image: url("calendario2.png");
	background-repeat: no-repeat;
	float:right;
	/*border: 1px inset black;*/
  }


.info2 {
  	width: 190px;
	height: 190px;
	background-color: rgba(31, 31, 31, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.2s ;
	position:absolute;
	overflow: hidden;
	padding-top: 40px;
	float:left;
  }
  .calendar:hover div.info2 {
  	opacity: 1;
  	
  }

p#headline2 {
	-webkit-transition: margin 0.2s;
	font-size: 50px;
	color: white;
	font-family: 'Amatic SC', cursive;
	margin-bottom: 30px;
	}

 .calendar:hover p#headline2 {
 	margin-left: 10px;
 }

.title3>h4{
	font-size: 2em;
	text-decoration: underline
}

.title3 {
	font-family: 'Handlee', cursive;
	float:right;
	width: 70%;

}
 
.plans{
  	width: 20%;
	height: 250px;
	float: left;
	background-image: url("plans.jpg");
	background-repeat: no-repeat;
  }

  .info3 {
  	width: 250px;
	height: 250px;
	background-color: rgba(31, 31, 31, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.2s ;
	position:absolute;
	overflow: hidden;
	padding-top: 40px;
  }

  .plans:hover div.info3 {
  	opacity: 1;
  }

p#headline3 {
	
	-webkit-transition: margin 0.2s;
	font-size: 70px;
	color: white;
	font-family: 'Amatic SC', cursive;
	margin-bottom: 30px;
	}

 .plans:hover p#headline3 {
 	margin-left: 60px;
 }

.boton{
	margin-left: 200px;
	background-color: #6495ed;
	margin: auto;
	color: white;
	text-decoration: underline; 
}

.footer {
	margin-top: 50px;
	height: 200px;
	border-top: 20px solid;
	border-top: groove; 
	border-width: 4px;
}
  
.icons>li {
	display: inline-block;
	float:right;
	margin-top: 50px;
	margin-right: 20px;
}

.facebook {
	background-image: url("fb.jpg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.twitter {
	background-image: url("tt.jpg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.instagram {
	background-image: url("inst.jpg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.github {
	background-image: url("gh.jpg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.icons>li {

	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	-webkit-transition: all 0.2s ease-out;

}
.icons li:hover {
	-webkit-transform: rotate(-30deg);
	transform: rotate(-20deg);
}

.copyRight {
	text-align: center;
	background-image: url("copyright.jpg");
	background-repeat: no-repeat;
	font-family: 'Neuton', serif;
	font-size: 18px;
	width: 210px;
}

#contact {
	font-family: 'Lobster Two', cursive;


}
.item{
	width: 100%
}

.margin-cnt{
	margin-top: 20px;
}

.btn-cnt{
	text-align: center;
}
