
.encima {
  margin-left: 550px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: 'Lobster Two', cursive;
  font-size: 45px;
  color: yellow;
   font-weight: bolder;

}
.register {
  margin-left: 590px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

  font-weight: bolder;

   color: yellow;
}


.registroBackground {
  background: url(registro.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  height: 100%;
     font-weight: bolder;
}

.encimaIdentificate {
  margin-left: 650px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: 'Lobster Two', cursive;
  font-size: 45px;
  color: #ff920a;
   font-weight: bolder;
}
.identificateBackground {

  background-image: url("identificate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  color:#ff920a;
  font-weight: bolder;
}


.registerIdentificate {
  margin-left: 660px;
  font-family: 'Neuton', serif;
  font-size: 20px;
  color:#ff920a;
  font-weight: bolder;
  color: rgba(255,175,75,1);
}

.newBitacora {
  margin-left: 590px;
  font-family: 'Neuton', serif;
  font-size: 20px;
  font-weight: bolder;
  color: #32CD32;
  display:inline-block;
  float:left;
  
}

.encimaNewBitacora {
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: 'Lobster Two', cursive;
  font-size: 45px;
  color: #32CD32;
  font-weight: bolder;
  margin-left: 590px;


}


.pie {
   background-image: url("pieMaletas.jpg");
   
    height: 430px;
    float:right;
    display:inline;
    
}


/*
.bitacoraBackground {

  background-image: url("travel.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  color:#ff920a;
  font-weight: bolder;
}


*/